@charset "utf-8";

a {
    text-decoration: none;
    color: blue;
}
header {
    text-align: center;
    text-size-adjust: 10em;
}
header a {
    color: darkgray;
}
header p {
    text-size-adjust: 5em;
}