@charset "utf-8";

a {
    text-decoration: none;
    color: blue;
}
header {
    text-align: center;
    font-size: 30px;
}
header a {
    color: darkgray;
}
header > p {
    font-size: 10px;
}