@charset "utf-8";
a {
    text-decoration: none;
    color: green;
}
html {
    background-color: rgb(16, 232, 30);
}
body {
    background-color: rgb(247, 125, 11);
}
header {
    margin-top: 5%;
    text-align: center;
    font-size: 30px;
}
header h1 {
    color: darkgray;
}
header > p {
    font-size: 20px;
}
button.menu {
    list-style-type: none;
    width: 24.66%;
    height: 1.5em;
    display: inline-block;
    background-color: darkblue;
    font-size: medium;
    font-display: middle;
    border-color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}