@charset "utf-8";
a {
    text-decoration: none;
    color: green;
}
html {
    background-color: rgb(16, 232, 30);
}
body {
    background-color: rgb(247, 125, 11);
}
header {
    margin-top: 5%;
    text-align: center;
    font-size: 30px;
}
header h1 {
    color: darkgray;
}
header > p {
    font-size: 20px;
}
nav.menu li {
    list-style-type: none;
    padding: 25%, 20px;
    display: inline-block;
    background-color: darkblue;
}